<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex items-center justify-center h-screen bg-gray-100">
<div class="w-full max-w-xs">
    <form th:action="@{/login}" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h1 class="text-center text-2xl font-bold mb-4">Login</h1>
        <div th:if="${param.logout}" class="text-green-500 text-center text-sm italic mb-4">You have been logged out successfully.</div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Username
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   id="username" name="username" type="text" placeholder="Username">
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Password
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                   id="password" name="password" type="password" placeholder="******************">
            <p th:if="${param.error}" class="text-red-500 text-xs italic">Invalid username or password. Please try again.</p>
        </div>
        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full focus:outline-none focus:shadow-outline" type="submit">
                SIGN IN
            </button>
        </div>
        <div class="mt-4 text-center">
            <p class="text-sm text-gray-600">Don't have an account yet? <a href="/register" class="text-blue-500 hover:text-blue-800">Sign up</a></p>
        </div>
    </form>
    <p class="text-center text-gray-500 text-xs">
        &copy;2024 Nurlis Kimbiletov Incorporation. All rights reserved.
    </p>
</div>
</body>
</html>
