<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex items-center justify-center min-h-screen bg-gray-100">
<div class="w-full max-w-screen-sm bg-white shadow-md rounded px-6 py-4">
    <div class="flex justify-between items-center mb-4">
        <h1 class="text-xl md:text-2xl font-bold">Profile</h1>
        <div class="flex items-center">
            <div class="text-right mr-2 md:mr-4">
                <p class="text-base md:text-lg font-semibold" th:text="${userDetails.username}"></p>
            </div>
            <img class="w-8 h-8 md:w-9 md:h-9 rounded-full border-2 border-black" th:src="@{img/defaultAvatar.png}" alt="User Profile Picture">
        </div>
    </div>

    <div class="mb-4">
        <p class="text-lg">Username: <span th:text="${userDetails.username}" class="font-semibold"></span></p>
        <p class="text-lg">Roles: <span th:text="${userDetails.authorities}" class="font-semibold"></span></p>
    </div>

    <!-- Logout Button -->
    <div class="flex justify-end mb-4">
        <form th:action="@{/logout}" method="post" class="inline">
            <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Logout
            </button>
        </form>
    </div>
</div>
</body>
</html>
